<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <head th:replace="/layout :: head"></head>
</head>
<body>
<h3>Form create</h3>
<th:block th:if="${mess}">
    <span th:text="${mess}"></span>
</th:block>
<form id="form" th:object="${customer}" method="post">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}"/>
    </div>
    <div>
        <label>Address</label>
        <input type="text" th:field="*{address}"/>
    </div>
    <button type="submit">Create</button>
</form>
<a href="/customer">Back list customer</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
