<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Show list</title>
</head>
<body>
<h3>List Customer</h3>
<p><a href="/customer/create">Add new customer</a></p>
<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="c:${list}">
        <tr>
            <td th:text="${c.name}"></td>
            <td th:text="${c.email}"></td>
            <td th:text="${c.address}"></td>
            <td><a th:href="@{/customer/edit/{id}(id=${c.id})}">Edit</a></td>
            <td><a th:href="@{/customer/delete/{id}(id=${c.getId()})}" onclick="return confirm('Bạn có muốn xóa?');">Delete</a></td>
            <td><a th:href="@{/customer/view/{id}(id=${c.id})}">View</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
